
input.jscolor {
    background-image: url(color.png) !important;
    background-position: calc(100% - 8px) center; 
    background-repeat: no-repeat; padding-right: 44px !important;
}
input.jscolor.disabled, input.jscolor[disabled] { pointer-events: none; }